<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <title>Email remainder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Email remainder</h1>
  <form action="/password-reminder" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <button type="submit">Send pass</button>
  </form>
</body>
</html>
